.Header-SearchForm_container {
    position: absolute;
    width: 46rem;
    height: 36rem;
    right: 14.5rem;
    bottom: 0;

    background: rgba(41, 41, 41, 0.8);
}

.Header-SearchForm-Order_container {
    width: 93rem;
    height: 22rem;
    bottom: 4.4rem;
    right: 13.5rem;

    background: rgba(41, 41, 41, 0.69);
}

.Header-SearchForm-Order_container .SearchForm-Section_container {
    display: flex;
}

.Header-SearchForm-Order_container .SearchForm-Section {
    margin-left: 2rem;
}


.Header-SearchForm {
    display: block;
    margin-top: 4rem;
    margin-left: 2rem;

}


.SearchForm-Section_title {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.2rem;

    color: #FFFFFF;
}

.SearchForm-Input_container {
    display: flex;
    margin-bottom: 3.7rem;




}

.SearchForm-Input {
    box-sizing: border-box;
    width: 20rem;
    height: 3.5rem;
    padding-left: 1rem;

    background: #FFFFFF;
    border-radius: 0.2rem;
    background-repeat: no-repeat;
    background-position-y: center;

    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.3rem;
    font-variant: small-caps;

    color: #292929;
}

.ant-select-selection-search-input {
    border:red;
}

.Input_direction {
    background-image: url(../../img/direction-icon.png);
    background-position-x: 17.5rem;
}

.Input_date {
    background-image: url(../../img/date-icon.png);
    background-position-x: 17rem;
}

.Input_date_end {
    margin-left: 1.5rem;
}

.Input_changeBtn {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1.1rem;
    background-image: url(../../img/ic_cached_white_48dp.png);
    background-repeat: no-repeat;
}



.SerchForm-Button {
    display: block;
    margin: 2.6rem 2.5rem auto auto;

    width: 20rem;
    height: 3.7rem;

    background: #FFA800;
    border-radius: 0.3rem;

    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-align: center;
    text-transform: uppercase;
    color: #292929;
}

.SerchForm-Button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.SerchForm-Button:active {
    color: #FFA800;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #FFA800;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.Header-SearchForm-Order_container .SerchForm-Button {
    margin: 0 4rem auto auto;

}


.react-datepicker-wrapper {
    width: 20rem;
    height: 3.7rem;

    position: relative;
}

.react-datepicker-popper {
    inset: auto auto auto auto;
    transform: none;
    z-index: 999;
}

.react-datepicker__day-name {
    display: none;
}

.react-datepicker__header {
    height: 3rem;
    padding-top: 0.5rem;

}

.react-datepicker__week {
    display: flex;
    justify-content: space-between;
}

.react-datepicker__current-month {
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-transform: capitalize;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__day--selected {
    background-color: rgba(255, 168, 0, 0.31);
    border: 2px solid #FFA800;
    color: #000000;
}

.react-datepicker__day {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.react-datepicker {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 22rem;
}

.react-datepicker__month-container {
    width: 100%;
}