.AboutSection-Container {
    padding-left: 16rem;
    padding-top: 9rem;
    padding-bottom: 6rem;
}

.AboutSection-Title {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-transform: uppercase;
    color: #292929;
}

.AboutSection-Content {
    width: 82.5rem;
    margin-top: 2rem;
    display: flex;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #292929;
}

.AboutSection-Content-rectangle {
    width: 0.6rem;
    height: 14.4rem;
    background: #FFA800;
}

.AboutSection-Content-text>p {
    margin: 0 auto 2rem 1rem;
}

.AboutSection-Content-text>p:last-child {
    font-weight: bold;
}
