.Header-Progressbar {
    position: absolute;
    width: 100%;
    height: 0.5rem;
    left: 0px;
    bottom: 0;
    z-index: 99;
    background-color: #FFA800;
}

.Header-Progressbar_order {
    height: 6.1rem;
    display: flex;
    align-items: center;
    justify-content: stretch;
    background-color: #3E3C41;
}

.Progressbar-Item {
    display: flex;
    align-items: center;
    padding-left: 5rem;
    font-weight: bold;
    height: 100%;
    color: #FFFFFF;
    background-color: #3E3C41;
}

.Progressbar-Item:first-of-type {
    padding-left: 13.5rem;
}

.Progressbar-Item:last-of-type {
    padding-right: 13.5rem;
}

.Progressbar-Item_active {
    background-color: #FFA800;
}

.Progressbar-Item-number {
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-align: center;
    text-transform: uppercase;
    margin-left: 1.1rem;
}

.Progressbar-Item-content {
    display: flex;
    align-items: center;
}

.Progressbar-Item-content::before {
    content: '';
    position: absolute;
    width: 3.6rem;
    height: 3.6rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../img/ellipse-icon.png);
}

.Progressbar-Item-name {
    display: inline-block;
    width: 14.5rem;
    margin-left: 2.5rem;
    font-size: 1.9rem;
    line-height: 2.2rem;
}

.Progressbar-Item-arrow {
    position: relative;
    height: 100%;
}

.arrow {
    fill: none;
    position: absolute;
    height: 6.1rem;
}

.Progressbar-Item_active .arrow {
    fill: #FFA800;
    background-color: rgba(41, 41, 41, 0);
}